.logo {
    height: 20px;
}

main {
    background-image: url(../img/logo/fondodetarjeta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
section {
    background-color: $color-fondotxt;
}
.cuerpo {

    &__presentación {
        margin: 2px;
        padding: 2px;
        gap: 2px;
    }
    &__banner {
        border: 5px solid rgb(252, 4, 4);
        height: 100%;
        width: 100%;
        padding: 5px;
    }
    background-color: $color-fondotxt;
}
.tarjeta {
    &__promo {
        border: 1px solid black;
        border-radius: 25px;
        width: 100%;
        @include mobile {
            font-size: 1.5rem;
        }
    }
    &__promo:hover {
        border: $border-gral;
    }
    &__boton {
        background-color: whitesmoke;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-radius: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__boton:active {
        border: 3px solid black;
    }

}
#whatsapp {
    @include monitor {
        display: none;
    }
    @include mobile {
        height: 50px;
        position: fixed;
        left: 20px;
        bottom: 40px;
        z-index: 1;
    }
}
.tecnicos {
    background-color: $color-fondotxt;
    padding: 5px;

    &__operario {
        width: 184px;
        height: 100%;
        padding: 5px;
        margin: 2px;
        border: $border-gral;
        border-radius: 15px;
        background-color: rgba(255, 68, 0, 0.61);
    }

    &__foto {
        width: 100px;
        height: 100px;
    }
}

.publicidad {
    border: $border-gral;
    background-color: $color-fondotxt;

    &__contenido {
        padding: 1px;
    }
}

.mensaje {
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(206, 191, 186);
}