.nav {
    background: #293241;
    height: 80px;
    color: $color-primario;

    &__container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 1.5em;
        font-weight: 900;
    }

    &__menu {
        display: grid;
        grid-auto-flow: column;
    }

    &__item {
        color: $color-primario;
        text-decoration: none;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    &__item::after {
        content: "";
        display: block;
        background: $color-primario;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .5s;
    }

    &__item:hover {
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &__input:checked+.nav__menu {
        background: rgb(169, 255, 71);
    }

    &__label,
    &__input {
        display: none;
    }
}


.nav{
    @include mobile {
        &__label {
            display: block;
            cursor: pointer;
        }
        &__menu {
            position: fixed;
            top: 80px;
            bottom: 0;
            background: $color-cierre;
            width: 100%;
            left: 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path 1s ease-in-out;
        }
        &__input:checked+&__menu {
            clip-path: circle(100% at center);

        }
    }
}